@keyframes red_social {
  0% {
    transform: rotate(0turn); }
  100% {
    transform: rotate(1turn); } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

html {
  font-size: 14px; }

body {
  font-family: "Poppins", sans-serif; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #5f0c01;
  z-index: 1;
  box-shadow: 0px -32px 39px 46px rgba(0, 0, 0, 0.52); }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    header nav .logo-container {
      display: flex;
      align-items: center;
      padding-left: 1em; }
      header nav .logo-container .logo {
        display: none; }
      header nav .logo-container a {
        text-decoration: none; }
      header nav .logo-container .logo-container__name {
        font-family: "Shadows Into Light", cursive;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: .2rem;
        color: #f1f1f1;
        margin-bottom: 0; }
    header nav #check {
      display: none; }
      header nav #check:checked ~ .nav-list {
        height: 100vh; }
        header nav #check:checked ~ .nav-list li {
          visibility: visible; }
    header nav .hamburger-btn {
      display: block;
      padding-right: .5em;
      font-size: 2.4rem;
      color: #f1f1f1;
      line-height: 4rem;
      cursor: pointer; }
    header nav .nav-list {
      position: absolute;
      width: 100%;
      height: 0vh;
      top: 64px;
      margin-bottom: 0;
      padding-left: 0;
      background: #111111b2;
      text-align: center;
      transition: all .5s; }
      header nav .nav-list__item {
        visibility: hidden;
        line-height: 1.8rem;
        margin: 2em 0; }
        header nav .nav-list__item a {
          display: inline-block;
          width: 100%;
          padding: 1em;
          color: #f1f1f1;
          font-size: 0.96rem;
          text-transform: uppercase;
          text-decoration: none; }
    header nav .btn-container {
      display: none; }
      header nav .btn-container__btn {
        display: none;
        text-decoration: none; }

main {
  width: 100%;
  background: #f1f1f1; }
  main .local {
    padding-top: 5em;
    background: url(../multimedia/gral/local.jpg) no-repeat center #525252;
    background-blend-mode: multiply;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center; }
    main .local__info {
      display: flex;
      flex-flow: column;
      text-align: center;
      width: 90%;
      margin: 0 auto; }
      main .local__info h1 {
        display: flex;
        flex-flow: column;
        margin-bottom: .4em;
        font-size: 2.5rem;
        line-height: 1em;
        color: #490703; }
      main .local__info p {
        font-weight: 600;
        color: #f1f1f1; }
    main .local__wpp {
      width: 80%;
      margin: 0 auto;
      padding-top: 3em; }
      main .local__wpp a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .7em 1em;
        margin: .25em;
        text-decoration: none;
        background-color: #4e4848;
        color: #f1f1f1;
        border-radius: 1em; }
        main .local__wpp a img {
          width: 2.5em;
          height: 2.5em;
          margin: .25em; }
  main .daymenu {
    padding: 1em; }
    main .daymenu__info {
      display: flex;
      flex-flow: column;
      align-items: center; }
      main .daymenu__info h2 {
        margin-bottom: .3em;
        font-size: 2rem; }
      main .daymenu__info p {
        margin-bottom: 2em;
        font-size: 0.7619rem;
        font-weight: 500;
        text-align: center; }
        main .daymenu__info p span {
          font-weight: bold;
          color: #e6e4e4; }
    main .daymenu__img .img {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      width: 100%;
      margin-bottom: 3em;
      box-shadow: 0px 8px 24px 5px rgba(0, 0, 0, 0.45); }
      main .daymenu__img .img img {
        width: 100%; }
      main .daymenu__img .img p {
        display: flex;
        flex-flow: column;
        padding: 1em 0;
        text-align: center;
        font-weight: 500;
        font-size: 0.96rem;
        color: #000; }

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding: 1em;
  text-align: center;
  background: #111111; }
  footer .info h3 {
    margin-bottom: 1em;
    font-size: 0.8rem;
    color: #eee8e8; }
  footer .info p {
    margin-bottom: 1em;
    font-size: 0.8rem;
    color: #f1f1f1; }
  footer .site-map {
    width: 100%;
    margin-bottom: 1em; }
    footer .site-map__nav {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      footer .site-map__nav li a {
        color: #faf8f8;
        margin: .5em;
        font-size: 1.1rem; }
  footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    footer .social a {
      margin: 1em;
      color: #0a2dc9; }
      footer .social a i {
        font-size: 2rem; }

#carta {
  width: 100%;
  padding: 1em;
  background: url("../multimedia/gral/patterncarta.png"); }
  #carta .carta-info {
    width: 100%;
    padding-top: 4em;
    margin-bottom: 2em;
    text-align: center; }
    #carta .carta-info h1 {
      font-size: 2.2rem;
      margin-bottom: .2em; }
    #carta .carta-info p {
      font-size: 0.8rem;
      font-weight: 500; }
  #carta h2 {
    margin-bottom: 1em;
    text-align: center;
    font-size: 2rem;
    color: #570909; }
  #carta .foods {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto; }
    #carta .foods__img {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3em;
      background: #fff;
      box-shadow: 0px 8px 24px 5px rgba(0, 0, 0, 0.45); }
      #carta .foods__img img {
        width: 50%; }
      #carta .foods__img .foods__info {
        width: 50%; }
        #carta .foods__img .foods__info p {
          margin-bottom: .5em;
          padding: 0 .1em;
          font-size: 0.96rem;
          font-weight: 500;
          text-align: center;
          line-height: 1.1em; }
        #carta .foods__img .foods__info .price {
          margin: none;
          padding: none;
          font-weight: 700;
          color: #720400; }
  #carta .specials-container .special {
    margin-top: -1.5em;
    margin-bottom: 3em;
    text-align: center;
    font-weight: 500;
    font-size: 0.88rem; }

#promociones {
  padding-bottom: 1em; }
  #promociones img {
    width: 100%; }
  #promociones .promo-image {
    width: 100%;
    padding-top: 52px;
    margin-bottom: 1em; }
    #promociones .promo-image img {
      object-fit: cover; }
    #promociones .promo-image #carouselExampleSlidesOnly {
      width: 100%; }
  #promociones h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin-bottom: .5em; }
  #promociones .promos {
    width: 80%;
    margin: 0 auto; }
    #promociones .promos p {
      margin-top: .7em;
      font-size: 1.2rem;
      font-weight: 700;
      color: #5c0101;
      text-align: center; }
    #promociones .promos article {
      margin-bottom: 1em;
      padding: 1em; }
    #promociones .promos__current {
      background: rgba(0, 0, 0, 0.1);
      box-shadow: 0px 8px 24px 5px rgba(0, 0, 0, 0.45); }
      #promociones .promos__current .promos__one ul {
        border-bottom: 2px solid #ccc;
        padding: 0; }
        #promociones .promos__current .promos__one ul li {
          margin-bottom: 1em;
          font-size: 0.8rem;
          font-weight: 600;
          text-align: center; }
          #promociones .promos__current .promos__one ul li span {
            display: block;
            text-align: center;
            font-weight: 300; }
      #promociones .promos__current .promos__two img {
        height: 15em;
        object-fit: cover; }
      #promociones .promos__current .promos__two h3 {
        margin: 1em 0;
        padding-bottom: 1em;
        text-align: center;
        font-size: 1.2rem;
        border-bottom: 2px solid #ccc; }
    #promociones .promos__new .promos__three h3 {
      position: relative;
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      color: #e00000; }
    #promociones .promos__new .promos__three .promo-container {
      box-shadow: 0px 8px 24px 5px rgba(0, 0, 0, 0.45);
      padding: 1em;
      background: #111111; }
    #promociones .promos__new .promos__three p {
      color: #f1f1f1; }

.footer-promo .info h3 {
  font-weight: bold; }

.footer-promo .info ul {
  padding: 0; }

.footer-promo .info a {
  text-decoration: none; }

#contacto .form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 6em 0 1em; }
  #contacto .form-container .form-container__title {
    text-align: center; }
    #contacto .form-container .form-container__title h1 {
      font-size: 2.5rem;
      font-weight: 800; }
  #contacto .form-container .form-container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 1em auto; }
    #contacto .form-container .form-container__form input, #contacto .form-container .form-container__form select, #contacto .form-container .form-container__form textarea {
      width: 100%;
      margin-bottom: 2em;
      font-family: inherit; }
    #contacto .form-container .form-container__form input[type="text"],
    #contacto .form-container .form-container__form input[type="mail"],
    #contacto .form-container .form-container__form textarea {
      overflow: hidden;
      padding: 1em 1em .5em 0;
      background: none;
      border: none;
      border-bottom: 1px solid #e00000;
      text-align: left;
      font-size: 0.72727rem; }
    #contacto .form-container .form-container__form select {
      padding: .5em;
      background: none;
      border: 1px solid #e00000; }
      #contacto .form-container .form-container__form select option {
        text-align: center; }
    #contacto .form-container .form-container__form textarea {
      resize: none;
      width: 100%;
      height: 3em; }
    #contacto .form-container .form-container__form input[type="submit"] {
      width: 50%;
      padding: .7em 1em;
      font-size: 0.96rem;
      font-weight: 600;
      text-transform: uppercase;
      background: #e00000;
      border: none;
      cursor: pointer; }
  #contacto .form-container embed {
    width: 40%;
    margin: 0 auto; }

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh; }
  .error__interaction {
    margin: 1.5em 0 3em; }
    .error__interaction h2 {
      font-size: 1.7rem; }
    .error__interaction h1 {
      font-size: 3.5rem;
      color: #007200;
      border-bottom: 2px solid #e00000; }
    .error__interaction p {
      padding-top: 1em;
      margin-bottom: 1em;
      font-size: 1.2rem; }
    .error__interaction a {
      padding: .7em 1em;
      font-weight: 700;
      border-radius: 1em;
      background: #e00000;
      color: #000; }
  .error img {
    width: 50%; }

@media only screen and (min-width: 425px) {
  main .local__info h1 {
    font-size: 2.875rem; }
  #carta .carta-info h1 {
    font-size: 2.5rem; }
  
  #promociones .promos {
    width: 60%; }
    #promociones .promos article {
      margin-bottom: 2em; }
    #promociones .promos p {
      margin-top: .6em;
      font-size: 1.44rem; }
    #promociones .promos__current .promos__one ul li {
      font-size: 0.96rem; } }

@media only screen and (min-width: 768px) {
  main .local__info h1 {
    display: block;
    font-size: 2.5rem; }
  main .local__info p {
    font-size: 1.2rem; }
  main .local__wpp {
    width: 35%; }
    main .local__wpp a {
      font-size: 0.96rem; }
  main .daymenu {
    width: 90%;
    margin: 0 auto; }
    main .daymenu__info h2 {
      font-size: 2.5rem; }
    main .daymenu__info p {
      font-size: 1.2rem;
      font-weight: 400; }
    main .daymenu__img {
      margin: 0 auto;
      width: 60%; }
      main .daymenu__img .img p {
        font-size: 1.36rem;
        font-weight: 400; }
  footer {
    width: 100%;
    padding: 2em;
    text-align: center; }
    footer .info {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 100%;
      margin-bottom: 2em; }
      footer .info h3 {
        margin-bottom: 1em;
        font-size: 2rem;
        color: #dbe4e2; }
      footer .info p {
        margin-bottom: 1em;
        font-size: 1.04rem;
        color: #f1f1f1; }
        footer .info p:last-of-type {
          margin: 0; }
    footer .site-map {
      margin-bottom: 2em; }
      footer .site-map__nav li a {
        font-size: 1.2rem; }
  #carta h2 {
    text-align: center;
    font-size: 3rem; }
  #carta .carta-info {
    width: 65%;
    margin: 0 auto; }
    #carta .carta-info h1 {
      font-size: 3.25rem; }
    #carta .carta-info p {
      margin-bottom: 3em;
      font-size: 1.12rem;
      font-weight: 300; }
  #carta .specials-container {
    width: 65%;
    margin: 0 auto; }
    #carta .specials-container .special {
      margin-top: -1.3em;
      font-weight: 300;
      font-size: 1.2rem; }
  #carta .foods {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0 8em; }
    #carta .foods__img {
      display: flex;
      justify-content: space-between;
      align-items: initial; }
      #carta .foods__img img {
        width: 30%; }
      #carta .foods__img .foods__info {
        width: 70%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: 1em; }
        #carta .foods__img .foods__info p {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3em;
          text-align: left; }
        #carta .foods__img .foods__info .price {
          font-size: 2rem;
          margin-left: .5em; }
  
  #promociones .promo-image img {
    height: 30vh; }
  #promociones h1 {
    font-size: 2.5rem; }
  #promociones .promos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 90%; }
    #promociones .promos__current {
      width: 40%; }
      #promociones .promos__current .promos__two img {
        height: 10em; }
    #promociones .promos__new {
      width: 50%; }
      #promociones .promos__new .promos__three h3 {
        margin-bottom: .5em; }
  #contacto .form-container {
    flex-flow: row wrap; }
    #contacto .form-container .form-container__title {
      width: 100%;
      margin-bottom: 2em; }
      #contacto .form-container .form-container__title h1 {
        font-size: 2.5rem; }
      #contacto .form-container .form-container__title p {
        font-size: 0.96rem;
        font-weight: 300; }
    #contacto .form-container .form-container__form {
      width: 50%; }
    #contacto .form-container embed {
      width: 25%;
      height: 25%; }
  .error img {
    width: 25%; } }

@media only screen and (min-width: 900px) {
  header {
    background: rgba(0, 0, 0, 0.6);
    transition: background .3s; }
    header nav {
      background-color: transparent; }
      header nav .logo-container .logo {
        display: block;
        width: 140px; }
      header nav .logo-container__name {
        display: none; }
      header nav .hamburger-btn {
        display: none; }
      header nav .nav-list {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 80px;
        top: 0;
        background: none;
        transition: none; }
        header nav .nav-list__item {
          visibility: visible;
          line-height: 100px;
          margin: 0 20px;
          transition: none; }
          header nav .nav-list__item a {
            display: inline;
            width: auto;
            padding: 0;
            font-size: 0.8rem; }
            header nav .nav-list__item a:hover {
              color: #da3f3f;
              transition: .3s; }
      header nav .btn-container {
        display: flex;
        width: 20%; }
        header nav .btn-container__btn {
          display: flex;
          padding: .7em 1em;
          color: #000;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.2;
          background-color: #e00000;
          border-radius: 1em; }
          header nav .btn-container__btn:hover {
            background: #e00000;
            box-shadow: 0 0 10px #e00000, 0 0 30px #e00000, 0 0 20px #e00000;
            transition: .3s; }
  .scroll {
    box-shadow: 0px -32px 39px 46px rgba(0, 0, 0, 0.52);
    background: #111111; }
  main .local__info {
    width: 60%; }
    main .local__info h1 {
      font-size: 3.75rem; }
    main .local__info p {
      font-size: 2rem; }
  main .local__wpp a {
    font-size: 1.12rem; }
  main .local__wpp a:hover {
    transform: scale(1.2);
    transition: .5s; }
  main .daymenu {
    width: 70%; }
    main .daymenu__img .img {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 3em;
      border: none; }
      main .daymenu__img .img:hover {
        transition: all .4s;
        background: #007200;
        color: #f1f1f1; }
      main .daymenu__img .img p {
        width: 70%;
        padding: 0;
        text-align: center;
        font-weight: 500;
        font-size: 1.36rem;
        color: inherit; }
      main .daymenu__img .img img {
        width: 30%;
        border: none; }
  footer .site-map__nav li a:hover {
    color: #e00000;
    transition: all .3s; }
  footer .social a i {
    font-size: 2.5rem; }
  footer .social a:hover {
    animation-name: red_social;
    animation-duration: 1.5s; }
  #carta h2 {
    font-size: 2.5rem; }
  #carta .carta-info {
    padding-top: 5.5em; }
    #carta .carta-info h1 {
      font-size: 2.75rem; }
    #carta .carta-info p {
      font-size: 1.04rem;
      font-weight: 400; }
  #carta .foods {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    width: 60%; }
    #carta .foods__img {
      display: flex;
      flex-flow: column;
      align-items: initial;
      width: 40%; }
      #carta .foods__img:hover {
        transform: scale(1.1);
        transition: .2s; }
      #carta .foods__img img {
        width: 100%; }
      #carta .foods__img .foods__info {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%; }
        #carta .foods__img .foods__info p {
          margin-bottom: .5em;
          padding: 0 .1em;
          font-size: 1.44rem;
          font-weight: 600;
          line-height: 1.1em;
          text-align: center; }
        #carta .foods__img .foods__info .price {
          margin: 0;
          padding: 0;
          font-weight: 700;
          color: #007200; }
  #carta .specials-container .special {
    margin-top: -1.5em;
    margin-bottom: 3em;
    text-align: center;
    font-weight: 400;
    font-size: 1.36rem; }
  #delivery .now__phones a {
    transform: none; }
    #delivery .now__phones a:active {
      background: #004400;
      transition: background .3s; }
  #promociones .promo-image {
    padding: 0; }
    #promociones .promo-image img {
      height: 20em; }
  #promociones .promos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0;
    width: 100%; }
    #promociones .promos__current {
      width: 30%;
      margin-right: 2em; }
      #promociones .promos__current .promos__one ul li {
        font-size: 1.08rem; }
      #promociones .promos__current .promos__two img {
        height: 12em; }
    #promociones .promos__current:hover {
      transform: scale(1.03);
      transition: transform .3s; }
    #promociones .promos__new {
      display: flex;
      justify-content: flex-end;
      width: 30%; }
      #promociones .promos__new .promo-container:hover {
        transform: scale(1.03);
        transition: transform .3s; }
  #contacto .form-container {
    padding-top: 8em; }
    #contacto .form-container .form-container__form input[type="submit"]:active {
      background: #60c000;
      transform: scale(0.9);
      transition: all .1s; } }

@media only screen and (min-width: 1024px) {
  header nav .nav-list li a {
    font-size: 1.2rem; }
  main .local__wpp {
    margin: 0 auto; }
    main .local__wpp a {
      font-size: 1.28rem; }
  main .daymenu__info h2 {
    font-size: 3.125rem; }
  main .daymenu__info p {
    font-size: 1.2rem; }
  main .daymenu__img {
    width: 70%; }
  footer {
    font-size: 1.12rem; }
    footer .info h3 {
      font-size: 2rem; }
  #carta {
    width: 100%;
    padding: 1em; }
    #carta h2 {
      margin: 1em 0;
      text-align: center;
      font-size: 2.5rem; }
    #carta .carta-info {
      width: 100%;
      padding-top: 7em;
      margin-bottom: 2em;
      text-align: center; }
      #carta .carta-info h1 {
        font-size: 3.25rem;
        margin-bottom: .2em; }
      #carta .carta-info p {
        font-size: 1.28rem;
        font-weight: 400; }
    #carta .foods {
      width: 80%; }
      #carta .foods__img {
        margin: 2em; }
  #delivery .soon {
    width: 70%; }
    #delivery .soon .title-container h1 {
      font-size: 3.75rem; }
  #promociones .promo-image img {
    height: 20em; }
  #promociones h1 {
    font-size: 2.75rem; }
  #promociones .promos p {
    font-size: 2.5rem; }
  #promociones .promos__current {
    width: 30%; }
  #promociones .promos__new {
    width: 29%; }
    #promociones .promos__new .promos__three h3 {
      font-size: 2.5rem;
      margin-bottom: 0; }
  #contacto .form-container {
    width: 70%; }
    #contacto .form-container .form-container__form input[type="text"],
    #contacto .form-container .form-container__form input[type="mail"],
    #contacto .form-container .form-container__form textarea {
      font-size: 1.04rem; }
    #contacto .form-container .form-container__form select {
      font-size: 1.04rem; }
  .error img {
    width: 15%; } }

@media only screen and (min-width: 1280px) {
  main .local__wpp {
    width: 32%; }
  #carta h2 {
    text-align: center;
    font-size: 2.5rem; }
  #carta .carta-info {
    width: 90%;
    padding-top: 5em; }
    #carta .carta-info h1 {
      font-size: 3.125rem; }
    #carta .carta-info p {
      font-size: 1.28rem;
      font-weight: 300; }
  #carta .foods {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0em;
    width: 80%; }
    #carta .foods__img {
      width: 25%; }
      #carta .foods__img .foods__info p {
        margin-bottom: .5em;
        padding: 0 .1em;
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        line-height: 1.1em; }
      #carta .foods__img .foods__info .price {
        margin: none;
        padding: none;
        font-size: 2rem;
        font-weight: 700;
        color: #007200; }
  #carta .specials-container .special {
    margin-top: -1.5em;
    margin-bottom: 3em;
    text-align: center;
    font-weight: 400;
    font-size: 1.36rem; }
  #promociones h1 {
    padding-left: 2em;
    font-size: 3.75rem; }
  #promociones .promos {
    width: 70%;
    margin: 0 auto; }
    #promociones .promos__current .promos__one ul li {
      font-size: 1.36rem; }
    #promociones .promos__current .promos__two img {
      height: 18em; } }
