footer {
    display: flex;
        flex-flow: column;
        align-items: center;
    width: 100%;
    padding: 1em;
    text-align: center;
    background: $lightblack;
    .info {
        h3 {
            margin-bottom: 1em;
            font-size: $fsz-small;
            color: $lightgreen;
        }
        p {
            margin-bottom: 1em;
            font-size: $fsz-small;
            color: $whitecustom;
        }
    }
    .site-map {
        width: 100%;
        margin-bottom: 1em;
        &__nav {
            display: flex;
                flex-flow: row wrap;
                justify-content: center;
            li {
                a {
                    color: $darkgreen;
                    margin: .5em;
                    font-size: 1.1rem;
                }
            }
        }
    }
    .social {
        display: flex;
            justify-content: center;
            align-items: center;
        width: 100%;
        a {
            margin: 1em;
            color: $lightgold;
            i {
                font-size: $fsz;
            }
        }
    }
}