header {
    position: fixed;
        top: 0;
        left: 0;
    width: 100%;
    background-color: $darkgreen;
    z-index: 1;
    box-shadow: 0px -32px 39px 46px rgba(0,0,0,0.52);
    nav {
        display: flex;
            justify-content: space-between;
            align-items: center;
        width: 100%;
        .logo-container {
            display: flex;
                align-items: center;
            padding-left: 1em;
            .logo {
            display: none;
            }
            a {
                text-decoration: none;
            }
            .logo-container__name {
            font-family: $ff-secondary;
            font-size: $fsz;
            font-weight: 700;
            letter-spacing: .2rem;
            color: $whitecustom;
            margin-bottom: 0;
            }
        }
        #check {
            display: none;
            &:checked ~ .nav-list {
                height: 100vh;
                li {
                    visibility: visible;
                }
            }
        }
        .hamburger-btn {
            display: block;
            padding-right: .5em;
            font-size: $fsz*1.2;
            color: $whitecustom;
            line-height: 4rem;
            cursor: pointer;
        }
        .nav-list {
            position: absolute;
            width: 100%;
            height: 0vh;
            top: 64px;
            margin-bottom: 0;
            padding-left: 0;
            background: $lightblack;
            text-align: center;
            transition: all .5s;
            &__item {
                visibility: hidden;
                line-height: 1.8rem;
                margin: 2em 0;
                a {
                    display: inline-block;
                    width: 100%;
                    padding: 1em;
                    color: $whitecustom;
                    font-size: $fsz-small*1.2;
                    text-transform: uppercase;
                    text-decoration: none;
                }
                
            }
        }
        .btn-container {
            display: none;
            &__btn {
                display: none;
                text-decoration: none;
            }
            
        }
    }
}