#producto {
    width: 100%;
    padding: 1em;
    background: url('../multimedia/gral/patternproducto.png');
    .producto-info {
        width: 100%;
        padding-top: 4em;
        margin-bottom: 2em;
        text-align: center;
        h1 {
            font-size: $fsz*1.1;
            margin-bottom: .2em;
        }
        p {
            font-size: $fsz-small;
            font-weight: 500;
        }
    }
    h2 {
        margin-bottom: 1em;
        text-align: center;
        font-size: $fsz;
        color: $lightgreen;
    }
    .foods {
        display: flex;
            flex-flow: column;
            justify-content: center;
        width:80%;
        margin:0 auto;
        &__img {
            display: flex;
                justify-content: space-between;
                align-items: center;
            margin-bottom: 3em;
            background: #fff;
            box-shadow: $food-shadow;
            img {
                width: 50%;
            }
            .foods__info {
                width: 50%;
                p {
                    margin-bottom: .5em;
                    padding: 0 .1em;
                    font-size: $fsz-small*1.2;
                    font-weight: 500;
                    text-align: center;
                    line-height: 1.1em;
                }
                .price {
                    margin: none;
                    padding: none;
                    font-weight: 700;
                    color: $darkgreen
                }
            }
        }
    }
    .specials-container {
        .special {
            margin-top: -1.5em;
            margin-bottom: 3em;
            text-align: center;
            font-weight: 500;
            font-size: $fsz-small*1.1;
        }
    }
}